<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Category</strong> <small>Add</small>
        </c-card-header>
        <c-card-body>
          <form
          [id]="formId"
          [formGroup]="menuPathForm"
          (ngSubmit)="onSaveConfirmation()"
          autocomplete="off"
        >
          <c-row>

          <c-col xs="4">
            Menu Name <span style="color: red;">*</span>
          <select formControlName="menuId" cSelect required 
          [ngClass]="{'red-border': f.menuId.invalid && (f.menuId.dirty || f.menuId.touched)}">
              <option *ngFor="let option of menuList" [value]="option.menu_id">{{ option.menu_name }}</option>
          </select>
          <br>
          <div *ngIf="f.menuId.invalid && (f.menuId.dirty || f.menuId.touched)">
            <div *ngIf="f.menuId.errors.required" style="margin-top: -20px; font-size: 12px; color: red;">Menu Select is required!!!</div>
          </div>
          </c-col>

          <c-col xs="4">
           Sub Menu Name <span style="color: red;">*</span>
          <input cFormControl type="text" formControlName="subMenu" placeholder="Sub Menu name..." required 
          [ngClass]="{'red-border': f.subMenu.invalid && (f.subMenu.dirty || f.subMenu.touched)}"/>
          <br>
          <div *ngIf="f.subMenu.invalid && (f.subMenu.dirty || f.subMenu.touched)">
            <div *ngIf="f.subMenu.errors.required" style="margin-top: -20px; font-size: 12px; color: red;">Menu Name is required!!!</div>
          </div>
          </c-col>
          <c-col xs="4">
           Sub Menu Path <span style="color: red;">*</span>
          <input cFormControl type="text" formControlName="path" placeholder="Sub Menu path..." required 
          [ngClass]="{'red-border': f.path.invalid && (f.path.dirty || f.path.touched)}"/>
          <br>
          <div *ngIf="f.path.invalid && (f.path.dirty || f.path.touched)">
            <div *ngIf="f.path.errors.required" style="margin-top: -20px; font-size: 12px; color: red;">Menu Path is required!!!</div>
          </div>
      </c-col>
          </c-row>
          <c-row >
            <c-col xs="3">
              <button cButton style="color: white;" color="primary" *ngIf="!paramId" (click)="addDataToArray()">Add More</button>
            </c-col>
          </c-row>
        </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  <mat-card class="mat-card-gap"  *ngIf="!paramId">
    <table class="report-table">
      <tr>
        <th style="text-align: center;">Srl #</th>
        <th style="text-align: center;">Menu Name</th>
        <th style="text-align: center;">Sub Menu Name</th>
        <th style="text-align: center;">Menu Path</th>
        <th style="text-align: center;">Action</th>
      </tr>
      <tr *ngFor="let item of itemArray; let i = index">
        <td style="text-align: center;">{{ i + 1 }}</td>
        <td>{{ item.menu }}</td>
        <td>{{ item.subMenu }}</td>
        <td>{{ item.path }}</td>
        <td style="text-align: center">
          <mat-icon (click)="onDeleteItem(i)" class="delete-record-btn"
            >cancel</mat-icon
          >
        </td>
      </tr>
    </table>
  </mat-card>
  
  